<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="left-navbar" routerLink="/">
          <h2 class="logo">Job Portal</h2>
        </div>

        <ul>
          <li *ngIf="!jobSeekerData.loggedIn" routerLink="/jobseeker/register">
            <a>Register</a>
          </li>
          <li *ngIf="!jobSeekerData.loggedIn" routerLink="/jobseeker/login">
            <a>Login</a>
          </li>
          <li *ngIf="jobSeekerData.loggedIn" routerLink="/jobseeker/profile">
            <a>Profile</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
