<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobSeeker Delete Employment History Successfully</title>
  </head>
  <body>
    <div
      class="overlay"
      (click)="
        this.jobSeekerResumeService.showJobSeekerDeleteEmploymentHistorySuccess = false
      "
    ></div>
    <div class="modal-container">
      <h2>Delete Employment History Successfully</h2>
      <div class="x-icon">
        <fa-icon
          id="xicon"
          [icon]="faXmark"
          style="font-size: 20px"
          class="faxmark"
          (click)="
            this.jobSeekerResumeService.showJobSeekerDeleteEmploymentHistorySuccess = false
          "
        ></fa-icon>
      </div>
      <button
        class="submit-btn"
        role="button"
        type="submit"
        (click)="
          this.jobSeekerResumeService.showJobSeekerDeleteEmploymentHistorySuccess = false
        "
      >
        Return Home
      </button>
    </div>
  </body>
</html>
