.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #fda16e;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 999999999;
}

.modalContainer h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.modalContainer .inputBox {
  position: relative;
}

.inputField {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

.label {
  position: absolute;
  padding: 0px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
  font-size: 18px;
  top: -20px;
  left: 0;
  color: black;
}

.submitBtn {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 10px;
}

.submitBtn:focus {
  color: #171e29;
}

.submitBtn:hover {
  border-color: #fda16e;
  color: #fda16e;
  fill: #fda16e;
}

.submitBtn:active {
  border-color: #fda16e;
  color: #fda16e;
  fill: #fda16e;
}

@media (min-width: 768px) {
  .submitBtn {
    min-width: 170px;
  }
}

.input.ng-invalid {
  border: white 1px solid;
}

.salaryError {
  position: absolute;
  top: 235px;
  font-size: 15px;
}

.skillsError {
  position: absolute;
  top: 325px;
  font-size: 15px;
}

.jobDescriptionError {
  position: absolute;
  top: 145px;
  font-size: 15px;
}

.newUser {
  margin-bottom: 10px;
}
