<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jobseeker Edit Profile Success</title>
  </head>
  <body>
    <div class="modal-conatiner">
      <h2>Edit Profile Success</h2>

      <form name="registrationForm" id="form" class="formLogin">
        <button
          class="submit-btn"
          role="button"
          type="submit"
          (click)="routeJobSeekerHome()"
        >
          Return Home
        </button>
      </form>
    </div>
  </body>
</html>
