<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobSeeker Education</title>
  </head>
  <body>
    <div class="education-card">
      <div class="education-card-left">
        <h1>{{ education.institute }}</h1>
        <h2>{{ education.qualification }}</h2>
      </div>
      <div class="education-card-right">
        <div class="icon-pen">
          <fa-icon
            [icon]="faPen"
            style="font-size: 15px"
            class="faPen"
            (click)="editEducation()"
          ></fa-icon>
        </div>

        <div class="icon-x">
          <fa-icon
            [icon]="faXmark"
            style="font-size: 20px"
            class="faXmark"
            (click)="deleteEducation()"
          ></fa-icon>
        </div>
        <div class="date">
          <h3>{{ education.startDate }}</h3>
          <h3>-</h3>
          <h3>{{ education.endDate }}</h3>
        </div>
      </div>
    </div>
  </body>
</html>
