.education-card {
  margin-top: 10px;
  width: 1700px;
  padding: 40px;
  background: #fda16e;
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 999999999;
  display: flex;
  justify-content: space-between;
}

.education-card-right {
  display: flex;
  flex-direction: column;
}

.date {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.icon-pen {
  position: absolute;
  top: 18px;
  right: 280px;
  cursor: pointer;
}

.icon-x {
  position: absolute;
  top: 15px;
  right: 250px;
  cursor: pointer;
}
