<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Seeker Resume</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title">JobSeeker Resume</h1>

      <div class="employment-container">
        <h2>Employment History</h2>
        <div class="employmentHistory-list">
          <app-jobseeker-employmenthistory
            *ngFor="let employmentHistory of employmentHistoryList"
            [employmentHistory]="employmentHistory"
          ></app-jobseeker-employmenthistory>
        </div>
      </div>

      <div class="education-container">
        <h2>Education</h2>
        <app-jobseeker-education
          *ngFor="let education of educationList"
          [education]="education"
        >
        </app-jobseeker-education>
      </div>
    </div>
  </body>
</html>
