<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Seeker Resume</title>
  </head>
  <body>
    <app-jobseeker-addeducation
      *ngIf="jobSeekerResumeService.showJobSeekerAddEducation"
    ></app-jobseeker-addeducation>
    <app-jobseeker-addemploymenthistory
      *ngIf="jobSeekerResumeService.showJobSeekerAddEmploymentHistory"
    ></app-jobseeker-addemploymenthistory>
    <app-jobseeker-addeducation-success
      *ngIf="jobSeekerResumeService.showJobSeekerAddEducationSuccess"
    ></app-jobseeker-addeducation-success>
    <app-jobseeker-addemploymenthistory-success
      *ngIf="jobSeekerResumeService.showJobSeekerAddEmploymentHistorySuccess"
    ></app-jobseeker-addemploymenthistory-success>
    <app-jobseeker-editeducation
      *ngIf="jobSeekerResumeService.showJobSeekerEditEducation"
    ></app-jobseeker-editeducation>
    <app-jobseeker-editeducation-success
      *ngIf="jobSeekerResumeService.showJobSeekerEditEducationSuccess"
    ></app-jobseeker-editeducation-success>
    <app-jobseeker-editemploymenthistory
      *ngIf="jobSeekerResumeService.showJobSeekerEditEmploymentHistory"
    ></app-jobseeker-editemploymenthistory>
    <app-jobseeker-editemploymenthistory-success
      *ngIf="jobSeekerResumeService.showJobSeekerEditEmploymentHistorySuccess"
    ></app-jobseeker-editemploymenthistory-success>
    <app-jobseeker-deleteeducation
      *ngIf="jobSeekerResumeService.showJobSeekerDeleteEducation"
    ></app-jobseeker-deleteeducation>
    <app-jobseeker-deleteeducation-success
      *ngIf="jobSeekerResumeService.showJobSeekerDeleteEducationSuccess"
    ></app-jobseeker-deleteeducation-success>
    <app-jobseeker-deleteemploymenthistory
      *ngIf="jobSeekerResumeService.showJobSeekerDeleteEmploymentHistory"
    ></app-jobseeker-deleteemploymenthistory>
    <app-jobseeker-deleteemploymenthistory-success
      *ngIf="jobSeekerResumeService.showJobSeekerDeleteEmploymentHistorySuccess"
    ></app-jobseeker-deleteemploymenthistory-success>

    <div class="container">
      <h1 class="title">JobSeeker Resume</h1>

      <div class="employment-container">
        <div class="employment-subTitle">
          <h2>Employment History</h2>
          <fa-icon
            [icon]="faPlus"
            style="font-size: 20px"
            class="faPlus"
            (click)="addEmploymentHistory()"
          ></fa-icon>
        </div>

        <div class="employmentHistory-list">
          <app-jobseeker-employmenthistory
            *ngFor="let employmentHistory of employmentHistoryList"
            [employmentHistory]="employmentHistory"
          ></app-jobseeker-employmenthistory>
        </div>
      </div>

      <div class="education-container">
        <div class="education-subTitle">
          <h2>Education</h2>
          <fa-icon
            [icon]="faPlus"
            style="font-size: 20px"
            class="faPlus"
            (click)="addEducation()"
          ></fa-icon>
        </div>

        <app-jobseeker-education
          *ngFor="let education of educationList"
          [education]="education"
        >
        </app-jobseeker-education>
      </div>

      <div class="skills-container">
        <div class="skills-subTitle">
          <h2>Skills</h2>
          <fa-icon
            [icon]="faPlus"
            style="font-size: 20px"
            class="faPlus"
            (click)="addSkills()"
          ></fa-icon>
        </div>

        <app-jobseeker-skills></app-jobseeker-skills>
      </div>
    </div>
  </body>
</html>
