<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobSeeker Employment History</title>
  </head>
  <body>
    <div class="employment-card">
      <div class="employment-card-left">
        <h1>{{ employmentHistory.company }}</h1>
        <h2>{{ employmentHistory.jobTitle }}</h2>
        <h3>{{ employmentHistory.jobDescription }}</h3>
      </div>
      <div class="employment-card-right">
        <div class="icon-pen">
          <fa-icon
            [icon]="faPen"
            style="font-size: 15px"
            class="faPen"
            (click)="editEmploymentHistory()"
          ></fa-icon>
        </div>

        <div class="icon-x">
          <fa-icon
            [icon]="faXmark"
            style="font-size: 20px"
            class="faXmark"
            (click)="deleteEmploymentHistory()"
          ></fa-icon>
        </div>

        <div class="date">
          <h3>{{ employmentHistory.startDate }}</h3>
          <h3>-</h3>
          <h3>{{ employmentHistory.endDate }}</h3>
        </div>
      </div>
    </div>
  </body>
</html>
